# Question 1

In [4]:
import pandas as pd

path_dataset_01 = r'E:\Work\Data Analyst\Mapup Project\Clone\MapUp-Data-Assessment-F\datasets'

def generate_car_matrix(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Create a new DataFrame as per the specified rules
    car_matrix = pd.pivot_table(df, values='car', index='id_1', columns='id_2', fill_value=0)

    # Set diagonal values to 0
    for col in car_matrix.columns:
        car_matrix.loc[col, col] = 0

    return car_matrix

def color_alternate_rows(row):
    return ['background-color: #f2f2f2' if i % 2 == 0 else '' for i in range(len(row))]

# Example usage
file_path = path_dataset_01 + '\dataset-1.csv'
resulting_matrix = generate_car_matrix(file_path)

# Style the DataFrame to color alternate rows
styled_matrix = resulting_matrix.style.apply(color_alternate_rows, axis=1)

# Display the resulting styled DataFrame
styled_matrix

# Question 2

In [3]:
import pandas as pd

path_dataset_01 = r'E:\Work\Data Analyst\Mapup Project\Clone\MapUp-Data-Assessment-F\datasets'

def color_alternate_rows(row):
    return ['background-color: #f2f2f2' if i % 2 == 0 else '' for i in range(len(row))]

# Example usage for generating car matrix
file_path_matrix = path_dataset_01 + '\dataset-1.csv'
resulting_matrix = generate_car_matrix(file_path_matrix)

# Style the DataFrame to color alternate rows
styled_matrix = resulting_matrix.style.apply(color_alternate_rows, axis=1)
styled_matrix

def get_type_count(dataframe):
    # Add a new column 'car_type' based on the conditions
    dataframe['car_type'] = pd.cut(dataframe['car'],
                                   bins=[float('-inf'), 15, 25, float('inf')],
                                   labels=['low', 'medium', 'high'],
                                   right=False)
    
    # Calculate the count of occurrences for each 'car_type' category
    type_count = dataframe['car_type'].value_counts().to_dict()
    
    # Sort the dictionary alphabetically based on keys
    sorted_type_count = dict(sorted(type_count.items()))
    
    return sorted_type_count

# Example usage for getting type count
file_path_counts = r'E:\Work\Data Analyst\Mapup Project\Clone\MapUp-Data-Assessment-F\datasets\dataset-1.csv'
df_counts = pd.read_csv(file_path_counts)

# Call the function with your DataFrame
result = get_type_count(df_counts)

# Convert the result dictionary to a DataFrame
result_df = pd.DataFrame(list(result.items()), columns=['car_type', 'count'])

# Style the result DataFrame to color alternate rows
styled_result_df = result_df.style.apply(color_alternate_rows, axis=1)

# Display the styled result DataFrame
styled_result_df

# Question 3

In [2]:
import pandas as pd

def unroll_distance_matrix(df):
    # Initialize an empty list to store the unrolled data
    unrolled_data = []

    # Iterate through each row of the DataFrame
    for index, row in df.iterrows():
        # Get the values for the first two columns (assuming they are 'id_start' and 'id_end')
        id_start = row.iloc[0]
        id_end = row.iloc[1]

        # Iterate through all columns (except the first two)
        for i in range(2, len(row)):
            # Extract the 'distance' value
            distance = row.iloc[i]

            # Append the data to the unrolled list
            unrolled_data.append({'id_start': id_start, 'id_end': df.columns[i], 'distance': distance})

    # Create a new DataFrame from the unrolled data
    unrolled_df = pd.DataFrame(unrolled_data)

    return unrolled_df

# Example usage
file_path = path_dataset_01 + '\dataset-1.csv'
df = pd.read_csv(file_path)

# Assuming your DataFrame has the necessary columns
resulting_df = unroll_distance_matrix(df)

# Style the DataFrame to color alternate rows
styled_resulting_df = resulting_df.style.apply(color_alternate_rows, axis=1)

# Display the resulting styled DataFrame
styled_resulting_df

# Question 4

In [ ]:
import pandas as pd

def filter_routes(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Filter routes based on the average of the 'truck' column
    filtered_routes = df.groupby('route')['truck'].mean().loc[lambda x: x > 7].index.tolist()

    # Sort the list of routes
    filtered_routes.sort()

    return filtered_routes

# Example usage
file_path = r'E:\Work\Data Analyst\Mapup Project\Clone\MapUp-Data-Assessment-F\datasets\dataset-1.csv'
output = filter_routes(file_path)

# Display the result as a table
result_df = pd.DataFrame({'Filtered Routes': output})
result_df

# Question 5

In [ ]:
import pandas as pd

def multiply_matrix(input_matrix):
    # Create a copy of the input matrix to avoid modifying the original DataFrame
    modified_matrix = input_matrix.copy()

    # Apply the specified logic to modify the values
    modified_matrix = modified_matrix.apply(lambda x: x.map(lambda val: val * 0.75 if val > 20 else val * 1.25))

    # Round the values to 1 decimal place
    modified_matrix = modified_matrix.round(1)

    return modified_matrix

# Example usage
file_path = path_dataset_01 + '\dataset-1.csv'
resulting_matrix = generate_car_matrix(file_path)

# Call the multiply_matrix function
modified_matrix = multiply_matrix(resulting_matrix)

# Display the resulting modified DataFrame
modified_matrix